/* font-family: 'EB Garamond', serif;
font-family: 'Lato', sans-serif;
font-family: 'Nothing You Could Do', cursive;
font-family: 'Roboto Mono', monospace; */

:root {
  --branding-color: #4e3d50;
  --secondary-color: #9ebcbe;
  --heading-font-family: "Nothing You Could Do", cursive;
  --default-font-family: "EB Garamond", serif;
}

@media (max-width: 900px) {
  /* About Page */
  h2 {
    text-align: center;
  }

  .logo {
    display: none;
  }

  .row .admin {
   text-align: left !important;
  }

  /* Index- Content */
  .edu-background {
    padding: 0;
    text-align: left;
    font-size: 15px;
  }

  li {
    font-size: 17px;
    padding:0;
  }

  .container {
    padding:0;
  }
  
  .point-education .list-training{ 
    padding-bottom: 25px;
    font-size: 17px;
  }
  
.content {
  text-align: center;
  padding:0;
}

}

/*INDEX- Navigation Bar */

.logo {
  max-width: 350px;
  max-height: 70px;
}

nav li {
  display: inline;
  list-style: none;
  padding: 10px;
}

nav a {
  text-decoration: none;
  color: black;
  transition: all 100ms ease-in-out;
}

nav a:hover,
nav li.active a {
  color: var(--secondary-color);
}

.hero {
  background-color: var(--secondary-color);
  text-align: center;
  padding: 160px 20px;
}

.menu ul {
  display: flex;
}

/* Hero */
h1 {
  font-family: "Nothing You Could Do", cursive;
  font-weight: bold;
  font-size: 56px;
}

p {
  font-size: 25px;
  
}

.btn-branding {
  background-color: var(--branding-color);
  color: white;
  padding: 15px 30px;
  border-radius: 5px;
}

/* content box */
.bio-page {
  padding: 75px;
}

.container {
  display: flex;
}

.container .box {
  justify-content: space-between;
  flex: 1;
  margin: 0 25px;
  border: solid 1px black;
  border-radius: 20px;
  text-align: center;
  padding: 20px;
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
}

/* ABOUT PAGE */

.head-page {
  background-color: var(--secondary-color);
  text-align: center;
  padding: 10px 20px;
}

.edu-background {
  padding: 30px 100px;
}

ul {
  font-size: 20px;
  line-height: 2;
}
.bootcamp {
  font-size: 20px;
}

/* MY WORK EXPERIENCES */

/* work on the image scale and text to be more elegant and prescise */
.rounded {
  max-width: 400px;
  max-height: 400px;
  
}

.title {
  font-size: 25px;
}

.location {
  font-size: 18px;
}

.row .admin{
  text-align: right;
}

/* CONTACT PAGE */

.vision {
  margin-left: 300px;
}

.icon {
  font-size: 25px !important;
  line-height: 2;
}

.contact {
  text-align: center;
  padding: 50px;
}

.vision-option {
  line-height: 2;
  font-size: 20px;
  padding-left: 20px;
}

/* Gallery Page */
img {
  max-width: 500px;
  max-height: 500px;
}

.container li {
  list-style: none;
}

.container .picture {
  padding: 20px;
  max-width: 370px;
}

